<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    
    <span></span>
    <span></span>
    <span></span>
    
    <ul
      id="menu"
      class="header d-flex justify-content-end">
      <li>
        <a href="#about">
          Quem Somos
        </a>
      </li>
      <li>
        <a href="#pain">
          Dores e Ganhos
        </a>
      </li>
      <li>
        <a href="#solutions">
          Soluções
        </a>
      </li>
      <li>
        <a href="#clients">
          Clientes
        </a>
      </li>
      <li>
        <a href="#contact">
          Contato
        </a>
      </li>
    </ul>
  </div>
</nav>
