<div class="container">
  <!--Icon Translate-->
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex translate-wrapper justify-content-end">
        <img src="../../assets/BotãoPT.svg" alt="">
      </div>
    </div>
  </div>
  <!--/Icon Translate-->

  <!-- Top Site Content-->
  <div class="row top-site-content">
    <div class="col-md-12">     
      <!-- Menu -->
      <app-header-menu>
      </app-header-menu>
      <!-- /Menu-->

      <!--Logo-->
      <div class="logo-wrapper">
        <img src="../../assets/Logo.TradeSuite.svg" alt="">
      </div>
      <!--/Logo-->

      <!--Banner-->
      <div class="banner-wrapper d-flex justify-content-end">
        <div class="banner">
          <div class="row">
            <div class="col-12 col-lg-7">
              <h1>Um forte aliado para os gestores de <strong>Trade Marketing</strong></h1>
            </div>

            <div class="col-12 col-lg-5">
              <div class="bg-hexagono-pink">
                <img src="../../assets/Hexagono-Bg.Rosa.svg" alt="">
              </div>
              <a href="#contact" class="btn primary-button">
                Agende uma <strong> demonstração</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Banner-->
    </div>
  </div>
  <!-- /Top Site Content-->

  <!-- Section One - About-->
  <!-- Section One Title-->
  <div class="row" id="about">
    <div class="col-md-12">
      <div class="section-one-title d-flex justify-content-end">
        <h2>Quem <strong>Somos</strong></h2>
      </div>
    </div>
  </div>
  <!-- /Section One Title-->

  <!-- Section One Wrapper -->
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end reset-flex-end-mobile">
      <div class="row section-one-wrapper">
        <div class="col-md-6">
          <div class="section-one-text">
            <p>
              Ao longo dos 15 anos de atuação, a <a href="https://www.asteria.com.br/"><strong>Astéria </strong></a> desenvolveu importantes projetos
              para grandes empresas de diversos segmentos. Os projetos voltados para Trade
              Marketing ganharam destaque em alguns clientes devido aos excelentes resultados. 
              Passamos então a nos identificar cada vez mais com estes projetos, nos sentindo muito à vontade
              para propor soluções e assim agregar ainda mais valor aos nossos clientes.
            </p>

            <p>
              Foi a partir destes projetos e de toda a experiência adquirida que criamos o <strong>Trade Suite</strong>,
              uma plataforma robusta e modular voltada para a área de Trade Marketing.
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="bg-hexagono-blue">
            <img src="../../assets/Hexagono-Bg.Verde.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Section One Wrapper -->
  <!-- /Section One-->

  <!-- Section two - Pain -->
  <div class="section-two-wrapper"  id="pain">
    <!-- Section Two Title-->
    <div class="row">
      <div class="col-md-5 section-two-title">
        <div class="boxes-wrapper">
          <div class="box-left"></div>
          <div class="box-right d-flex justify-content-end">
            <h2>Dores</h2>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="section-two-prefix">
          <h3>Após anos atuando no desenvolvimento de soluções personalizadas,
            identificamos problemas recorrentes enfrentados pelos gestores da área de <strong>Trade Marketing.</strong></h3>
        </div>
      </div>
    </div>
    <!-- Section Two Title-->

    <!-- Section Two Content-->
    <div class="row">
      <div class="col-md-12 d-flex justify-content-end">
        <div class="section-two-content">
          <ul>
            <li> <div class="hexagono"></div>Perda de documentos das ações promocionais</li>
            <li> <div class="hexagono"></div>Dificuldades para fortalecer o relacionamento</li>
            <li> <div class="hexagono"></div>Problemas com fraudes</li>
            <li> <div class="hexagono"></div>Problemas de comunicação</li>
            <li> <div class="hexagono"></div>Falta de agilidade</li>
            <li> <div class="hexagono"></div>Dificuldades para formalizar e registrar os acordos</li>
            <li> <div class="hexagono"></div>Perda de oportunidades</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Section Two Content-->
  </div>
  <!-- /Section two-->      

  <!-- Section Three - Gain -->
  <div class="section-three-wrapper"  id="gain">
    <!-- Section Three Title-->
    <div class="row">
      <div class="offset-md-1 col-md-7">
        <div class="section-three-prefix">
          <h3>O <strong>Trade Suite </strong>foi criado com o objetivo de facilitar o trabalho dos gestores da área de Trade Marketing.</h3>
        </div>
      </div>

      <div class="col-md-4 section-three-title">
        <div class="boxes-wrapper">
          <div class="box-left"></div>
          <div class="box-right d-flex justify-content-start">
            <h2>Ganhos</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Section Two Title-->

    <!-- Section Three Content-->
    <div class="row">
      <div class="col-md-12 d-flex justify-content-end">
        <div class="section-three-content">
          <ul>
            <li><div class="hexagono"></div> Melhor acompanhamento das metas e resultados</li>
            <li><div class="hexagono"></div> Facilidade para compartilhar informações</li>
            <li><div class="hexagono"></div> Informações centralizadas</li>
            <li><div class="hexagono"></div> Facilidade na auditoria</li>
            <li><div class="hexagono"></div> Mais autonomia</li>
            <li><div class="hexagono"></div> Incremento de vendas</li>
            <li><div class="hexagono"></div> Mais agilidade</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Section Two Content-->
  </div>  
  <!-- /Section Three - Gain -->

  <!-- Section Four Solutions -->
    <div class="section-four-wrapper" id="solutions">
      <!-- Section Four Title-->
      <div class="row">
        <div class="col-md-5 section-four-title">
          <div class="boxes-wrapper">
            <div class="box-left"></div>
            <div class="box-right d-flex justify-content-end">
              <h2>Soluções</h2>
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <div class="section-four-prefix">
            <h3>O <strong>Trade Suite</strong> é uma ferramenta modular que permite ser configurada conforme a necessidade de cada cliente e já está preparada para suportar vários idiomas.</h3>
          </div>
        </div>
      </div>
      <!-- Section Four Title-->

      <!-- Section Four Cards-->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-end flex-wrap"> 
          <div *ngFor="let item of items">  
            <app-cards
              [item]="item">
            </app-cards>
          </div>
        </div>
      </div>
      <!-- Section Four Cards-->
    </div>
  <!-- / Section Four - Solutions -->

  <!--Section Five - Clients-->
  <div class="row d-flex justify-content-end" id="clients">
    <div class="col-md-12">
      <div class="section-five-wrapper">
        <!-- Section Five Title-->
        <div class="offset-md-7 col-md-5 section-five-title">
          <div class="boxes-wrapper">
            <div class="box-left"></div>
            <div class="box-right d-flex justify-content-start">
              <h2>Clientes que nos <strong>inspiraram</strong></h2>
            </div>
          </div>
        </div>
        <!-- Section Five Title-->
      </div>  
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class=" col-md-9">
      <div class="section-five-prefix">
        <h3>
          É com muito orgulho que destacamos abaixo alguns dos principais clientes e parceiros atendidos pela
          <a href="https://www.asteria.com.br/" class="orange"> <strong >Astéria</strong></a> no desenvolvimento de soluções
          para<strong> Trade Marketing.</strong>
        </h3>
      </div>
    </div>
  </div>

  <!-- Section Five Content-->
  <div class="row">
    <div class="col-md-12">
      <div class="section-five-content d-flex justify-content-end">
        <div id="carouselExampleCaptions" class="multi-item-carousel carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li
              *ngFor="let item of slideItems; let i = index" 
              data-target="#carouselExampleCaptions" 
              [attr.data-slide-to]="i"
              [class]="i == 0 ? 'active' : ''">
            </li>
          </ol>
          <div class="carousel-inner">
            <div
              *ngFor="let item of slideItems; let i = index" 
              [class]="i == 0 ? 'carousel-item active' : 'carousel-item'">
              <div class="card">
                <div class="row">
                  <div class="col-md-4">
                    <img [src]="item.src" class="d-block w-100" alt="">
                  </div>

                  <div class="col-md-8">
                    <h3><strong>João Carlos</strong> - Presidente</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Section Five Content-->
  <!--/Section Five - Clients-->

  <!-- Section Six Contact -->
  <div class="section-six-wrapper" id="contact">
    <!-- Section Six Title-->
    <div class="row">
      <div class="col-md-12">
        <div class="section-six-title">
          <div class="boxes-wrapper">
            <div class="box-left"></div>
            <div class="box-right d-flex justify-content-end">
              <h2>Contato</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 offset-lg-1 col-lg-11">
        <div class="row">
          <div class="col-12 col-lg-8">
            <div class="section-six-prefix">
              <h3>Para conhecer melhor a nossa plataforma e entender como ela pode auxiliar a sua empresa, por favor preencha o formulário que logo entraremos em contato para conversar e agendar uma demonstração.<strong> Obrigado!</strong></h3>
            </div>
          </div>

          <div class="col-12 col-lg-4">
            <p class="state-phone-info">
              São Paulo<br>
              <span> +55 (11) 3645-3720</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-lg-1 col-lg-11 wrapper-form">
        <form
          novalidate
          [formGroup]="formAtribute"
          (ngSubmit)="sendForm()">

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="name">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  aria-describedby="name"
                  formControlName="name">
                <small
                  class="form-text text-danger"
                  *ngIf="!formAtribute.get('name').valid && formAtribute.get('name').touched">
                    O campo nome é obrigatório.
                </small>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="lastName">Sobrenome</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  aria-describedby="lastName"
                  formControlName="lastName">
                <small
                  class="form-text text-danger"
                  *ngIf="!formAtribute.get('lastName').valid && formAtribute.get('lastName').touched">
                  O campo sobrenome é obrigatório.
                </small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="companyName">Nome da empresa</label>
                <input
                  type="text"
                  class="form-control"
                  id="companyName"
                  aria-describedby="companyName"
                  formControlName="companyName">
                <small
                  class="form-text text-danger"
                  *ngIf="!formAtribute.get('companyName').valid && formAtribute.get('companyName').touched">
                  O campo nome da empresa é obrigatório.
                </small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="mail">E-mail</label>
                <input
                  type="e-mail"
                  class="form-control"
                  id="mail"
                  aria-describedby="mail"
                  formControlName="mail">
                <small
                  class="form-text text-danger"
                  *ngIf="!formAtribute.get('mail').valid && formAtribute.get('mail').touched">
                    O campo e-mail é obrigatório.
                </small>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="cellphone">Telefone</label>
                <input
                  type="text"
                  class="form-control"
                  id="cellphone"
                  aria-describedby="cellphone"
                  formControlName="cellphone"
                  mask="(00) 00000-0000">
                <small
                  class="form-text text-danger"
                  *ngIf="!formAtribute.get('cellphone').valid && formAtribute.get('cellphone').touched">
                  O campo telefone é obrigatório.
                </small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="message">Mensagem</label>
              <textarea
                class="form-control"
                id="message"
                rows="3"
                formControlName="message"></textarea>
                <small
                  class="form-text text-danger"
                  *ngIf="!formAtribute.get('message').valid && formAtribute.get('message').touched">
                  O campo mensagem é obrigatório.
                </small>
              </div>
          </div>

          <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
              <button
                type="submit"
                class="btn btn-secundary"
                [disabled]="!formAtribute.valid">
                  Enviar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row" *ngIf="messageResponse">
      <div class="col-md-12 d-flex justify-content-end">
        <div 
        class="alert"
        [class]="messageResponse.key == 200 ? 'alert-success' : 'alert-danger'"
        role="alert">
            {{messageResponse.value}}
        </div>
      </div>
    </div>
    <!-- /Section Six Title-->
  <!-- /Section Six Contact -->
  </div>
</div>

<div class="container-fluid">
  <!-- Footer -->
  <div class="row footer-wrapper">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xl-5">
            <div class="logo">
              <img src="../../assets/Logo.TradeSuite.svg" alt="">
            </div>
  
            <p>Copyright - Termos de Uso e Política de Privacidade</p>
          </div>
  
          <div class="col-sm-12 col-xl-7">
            <ul class="footer-menu">
              <li>
                <a href="#about">
                  Quem Somos
                </a>
              </li>
              <li>
                <a href="#pain">
                  Dores e Ganhos
                </a>
              </li>
              <li>
                <a href="#solutions">
                  Soluções
                </a>
              </li>
              <li>
                <a href="#clients">
                  Clientes
                </a>
              </li>
              <li>
                <a href="#contact">
                  Contato
                </a>
              </li>
            </ul>
  
            <ul class="footer-social">
              <li>
                <img src="../../assets/linkedin-in.svg" alt="">
              </li>
              <li>
                <img src="../../assets/facebook-f.svg" alt="">
              </li>
              <li>
                <a href="https://www.instagram.com/trade_suite/">
                  <img src="../../assets/instagram.svg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer -->
</div>

