<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <!-- Menu -->
        <app-header-menu>
        </app-header-menu>
        <!-- /Menu-->

        <!--Banner-->
        <div class="banner-wrapper d-flex justify-content-end">
          <div class="banner">
            <div class="row">
              <div class="col-md-7">
                <h1>Um forte aliado para os gestores de <strong>Trade Marketing</strong></h1>
              </div>

              <div class="col-md-5">
                <button class="btn primary-button">
                  Agende uma <strong>demonstração</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /Banner-->
      </div>
    </div>
  </div>
</div>