<div class="container-fluid">
  <!--Icon Translate-->
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex translate-wrapper justify-content-end">
        <img src="../../assets/BotãoPT.svg" alt="">
      </div>
    </div>
  </div>
  <!--/Icon Translate-->

  <!-- Top Site Content-->
  <div class="row top-site-content">
    <div class="col-md-12">
      <div class="container">        
        <!-- Menu -->
        <app-header-menu>
        </app-header-menu>
        <!-- /Menu-->

        <!--Logo-->
        <div class="logo-wrapper">
          <img src="../../assets/Logo.TradeSuite.svg" alt="">
        </div>
        <!--/Logo-->

        <!--Banner-->
        <div class="banner-wrapper d-flex justify-content-end">
          <div class="banner">
            <div class="row">
              <div class="col-md-7">
                <h1>Um forte aliado para os gestores de <strong>Trade Marketing</strong></h1>
              </div>

              <div class="col-md-5">
                <div class="bg-hexagono-pink">
                  <img src="../../assets/Hexagono-Bg.Rosa.svg" alt="">
                </div>
                <button class="btn primary-button">
                  Agende uma <strong> demonstração</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /Banner-->
      </div>
    </div>
  </div>
  <!-- /Top Site Content-->

  <!-- Section One - About-->
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <!-- Section One Title-->
        <div class="row">
          <div class="col-md-12">
            <div class="section-one-title d-flex justify-content-end">
              <h2>Quem <strong>Somos</strong></h2>
            </div>
          </div>
        </div>
        <!-- /Section One Title-->

        <!-- Section One Wrapper -->
        <div class="row">
          <div class="col-md-12 d-flex justify-content-end">
            <div class="row section-one-wrapper">
              <div class="col-md-6">
                <div class="section-one-text">
                  <p>
                    Ao longo dos 15 anos de atuação, a <strong>Astéria</strong> desenvolveu importantes projetos
                    para grandes empresas de diversos segmentos. Os projetos voltados para Trade
                    Marketing ganharam destaque em alguns clientes devido aos excelentes resultados. 
                    Passamos então a nos identificar cada vez mais com estes projetos, nos sentindo muito à vontade
                    para propor soluções e assim agregar ainda mais valor aos nossos clientes.
                  </p>
    
                  <p>
                    Foi a partir destes projetos e de toda a experiência adquirida que criamos o <strong>Trade Suite</strong>,
                    uma plataforma robusta e modular voltada para a área de Trade Marketing.
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="bg-hexagono-blue">
                  <img src="../../assets/Hexagono-Bg.Verde.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Section One Wrapper -->
      </div>
    </div>
  </div>
  <!-- /Section One-->

  <!-- Section two - Pain -->
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="section-two-wrapper">
          <!-- Section Two Title-->
          <div class="row">
            <div class="col-md-5 section-two-title">
              <div class="boxes-wrapper">
                <div class="box-left"></div>
                <div class="box-right d-flex justify-content-end">
                  <h2>Dores</h2>
                </div>
              </div>
            </div>

            <div class="col-md-7">
              <div class="section-two-prefix">
                <h3>Após anos atuando no desenvolvimento de soluções personalizadas,
                  identificamos problemas recorrentes enfrentados pelos gestores da área de Trade Marketing.</h3>
              </div>
            </div>
          </div>
        <!-- Section Two Title-->
        </div>
      </div>
    </div>
  </div>
  <!-- /Section two-->
</div>